<div class="spreadsheet-header">
  <div class="left-side">
    {{#if leftHeaderComponent}}
      {{component leftHeaderComponent}}
    {{else}}
      {{yield (hash isLeftHeader=true)}}
    {{/if}}
  </div>
  <div class="right-side">
    {{#if rightHeaderComponent}}
      {{component rightHeaderComponent}}
    {{else}}
      {{yield (hash isRightHeader=true)}}
    {{/if}}
  </div>
</div>
<div class="spreadsheet-container">
  <tr>
    <td class="left-side">
      {{#ember-collection class="collection" cell-layout=(fixed-grid-layout leftWidth itemHeight) items=leftItems as |item index|}}
        {{#if leftSideComponent}}
          {{component leftSideComponent item=item}}
        {{else}}
          {{yield (hash isLeftSideItem=true item=item index=index)}}
        {{/if}}
      {{/ember-collection}}
    </td>
    <td class="right-side">
      {{#ember-collection class="collection" cell-layout=(percentage-columns-layout itemCount columns itemHeight) items=rightItems as |item index|}}
        {{#if rightSideComponent}}
          {{component rightSideComponent item=item}}
        {{else}}
          {{yield (hash isRightSideItem=true item=item index=index)}}
        {{/if}}
      {{/ember-collection}}
    </td>
  </tr>
</div>
